@model WDP2024Assignment2.Models.AIImage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AIImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prompt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prompt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageGenerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageGenerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.canIncreaseLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.canIncreaseLike)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
